.result-title {
  font-family: "RobotoBlack";
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.result-title small {
  font-family: "RobotoBlack";
  font-size: 0.5rem;
  transition: 0.5s;
}

.result-title :hover {
  color: #a09f9f;
}

.result-title small:hover {
  color: #a09f9f;
}
.search-result {
  padding-left: 8rem;
  width: 100%;
  height: 100%;
}
.content {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  padding: 1rem;
  width: 100%;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 10px;
}
.filter {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  padding: 1rem;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 10px;
}
b {
  font-weight: bolder;
  background-color: yellow;
}
.right-content {
  margin-top: 1rem;
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -0.5px;
}
.title-content {
  font-family: "RobotoBlack";
  letter-spacing: -1px;
  font-size: x-large;
}
.header-result {
  background: black;
  color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
}

@media (max-width: 776px) {
  .result-title {
    font-family: "RobotoBlack";
    font-size: 1rem;
    cursor: pointer;
    line-height: 10px;
    transition: 0.5s;
  }

  .result-title small {
    font-family: "RobotoBlack";
    font-size: 0.5rem;
    transition: 0.5s;
  }

  .result-title :hover {
    color: #a09f9f;
  }
}
