@font-face {
  font-family: "Karla";
  src: url("font/Karla-Bold.ttf");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("font/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Medium.ttf");
}
body {
  font-family: "Gotham";
  min-height: 100vh;
  padding-right: 0 !important;
  background-color: #ced7da;
}
